@model TechSupportXPress.Models.TicketCategory

@{
    ViewData["Title"] = "Details";
}

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Categories
    </a>
</div>

<div class="card rounded-4">
    <div class="card-body">
        <h4 class="mb-3 text-info"><i class="bi bi-file-earmark-text"></i> Ticket Category Details</h4>
        <hr />

        <table class="table table-bordered table-hover">
            <tr><th>@Html.DisplayNameFor(model => model.Code)</th><td>@Html.DisplayFor(model => model.Code)</td></tr>
            <tr><th>@Html.DisplayNameFor(model => model.Name)</th><td>@Html.DisplayFor(model => model.Name)</td></tr>
            <tr><th>@Html.DisplayNameFor(model => model.CreatedBy)</th><td>@Html.DisplayFor(model => model.CreatedBy.FullName)</td></tr>
            <tr><th>@Html.DisplayNameFor(model => model.CreatedOn)</th><td>@Html.DisplayFor(model => model.CreatedOn)</td></tr>
            <tr><th>@Html.DisplayNameFor(model => model.ModifiedBy)</th><td>@Html.DisplayFor(model => model.ModifiedBy.FullName)</td></tr>
            <tr><th>@Html.DisplayNameFor(model => model.ModifiedOn)</th><td>@Html.DisplayFor(model => model.ModifiedOn)</td></tr>
        </table>
    </div>
</div>
