@model TechSupportXPress.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Departments
    </a>
</div>

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h4 class="mb-3 text-danger"><i class="bi bi-trash-fill"></i> Delete Department</h4>
        </div>
        <hr />
        <div class="row">
            <table class="table table-bordered table-responsive table-hover table-responsive-lg">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Code)</th>
                    <td>@Html.DisplayFor(model => model.Code)</td>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <td>@Html.DisplayFor(model => model.CreatedBy.FullName)</td>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                    <td>@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedBy.FullName)</td>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DeletedBy)</th>
                    <td>@Html.DisplayFor(model => model.DeletedBy.FullName)</td>
                    <th>@Html.DisplayNameFor(model => model.DeletedOn)</th>
                    <td>@Html.DisplayFor(model => model.DeletedOn)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row p-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger float-end">
            <i class="fadeIn animated bx bx-save"></i> Delete
        </button>
    </form>
</div>
